<h2> 
	Know a location offering free or cheap showers?  Let us know.

</h2>


<div class="row">
		<div class="col-lg-5 col-sm-12 about p-5">
		
			 <%= render 'form'%>
		</div>
		<div class="col-lg-7 col-sm-0 about p-5 bg_image">
			
		</div>

	</div>

  