<div class="row">
	<div class="col text-center">
		<h1> 
	        <%= t('title_and_nav.header') %>
        </h1>
        <h3> 
        	<%= t('title_and_nav.sub') %>
        </h3>		
	</div>	
</div>
<div class="row">
	<div class="col text-center">
		<p> For Free & Cheap Showers</p>
	</div>

</div>
<div class="row">
	<div class="col-6">
		<p class=" text-right"> Find By Borough </p>
		<div class="row">
		<!-- 	<ul>
				<li>Bronx</li>
				<li>Queens</li>
				<li>Manhattan</li>
				<li>Staten Island</li>
				<li>Brooklyn</li>
			</ul> -->
		
		</div>
	</div>
	<div class="col-6">
		<p> Find By Nearest Train </p>
	</div>
</div>