<h2> <%= t('manhattan.home_page.header') %></h2>

<h3> <%= t('manhattan.home_page.sub_header') %></h3>

   <h4> List Of All Bronx Sites </h4>

<% @m_sites.each do |bx_site| %>
<div class="p-3 mb-4 bg-info text-white">
  

     <u>  Name </u>
       <div> <%= m_site.name %> </div>
     <br>
       <u>  Address </u>
       <div> <%= m_site.address %> </div>
     <br>
     
</div>
	<% end %>