$logo-blue: rgb(7, 34, 242);
$nav-blue: #50a4ea;
$fresh-blue: #89dfff;
$heart-red: #f70e0e;
$queens-color: #e0556a;
$manhattan-color: #232426;
$bk-color: #55e08a;
$cream: #fffdd0;
$shadow: rgba(13, 7, 7, 0.5);
$black: rgb(13, 7, 7);
$silver: #C0C0C0;
$splashed-white:#FEFDFF;
$purple:#9e42f4;
$peach: #edbd89;

