<h2> The about Us page </h2>

	<div class="row">

		    <a href="http://showerpowernyc.org/">Shower Power</a>. <%= t('about.p_3') %>
		<div class="col-lg-5 col-sm-12 about p-5">
		
			
		</div>
		<div class="col-lg-7 col-sm-0 about p-5 bg_image">
			
		</div>

	</div>