/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap/scss/bootstrap
 *= require_tree .
 *= require_self
 */



.nav-item{
	margin: 0rem 1rem;
}

.jumbotron_2{
	background-image: url(image-path('soap_bars.jpeg'));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	background-attachment: fixed;
	height: 11rem;
	position:relative;
	overflow:hidden;
}

h3{
	color:coral;
}

a{
	color:gold;
}

#notice_wrapper{
     position:absolute;
     right:0;
     width: 33%;
     z-index: 999;
     background: black;

     .notice{
	padding: 2.75rem;
	text-align: center;
	margin: 0;
	font-size: 2em;
	font-weight: 700;
	color: coral;
	     }

}

.bottom_space{
	height: 7rem;
}

.footer{
	height: 5rem;
}

 @media only screen and (max-width: 600px) {
    .bottom_space{
	    height: 3rem;
}
    .footer{
        height: 3rem;
    }
}









