/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap/scss/bootstrap
 *= require_tree .
 *= require_self
 */

@import 'partials/variables';
@import 'partials/mixins';

form{
	diplay:grid;
	grid-template-columns: auto 1fr;
}

label{
	display:contents;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Racing Sans One', cursive;
}

body{
  // background-image: url(image-path('colorful_towels_2000.jpg'));
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
}


body.homepage{
  // background-image: url(image-path('blue_and_green_towels_2000.jpg'));
  background-image: url(image-path('colorful_towels.webp'));
}

.bg-light {
  background-color: #50a4ea !important;
}
.lang_holster{
	color:#FFFDD0 ;
}

.language_select{
	display:none;
}
.nav-item{
	margin: 0rem 1rem;
}

.nav-item a{
	color: honeydew;
  text-shadow: none;
}

.nav-item a:hover{
	color: coral;
  text-shadow: none;
}

ul {
  list-style-type: none;
}


#map, #pano {
  float: left;
  height: 100%;
  width: 45%;
}


.jumbotron_2{
	// background-image: url(image-path('blue_and_green_towels_2000.jpg'));
  background: blue;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	background-attachment: fixed;
	height: 11rem;
	position:relative;
	overflow:hidden;
  color: black;

}

// h3{
// 	color:black;
// }

a{
  color:crimson;
  
}

a:hover{
  color:coral;
  text-shadow:none;
}

#notice_wrapper{
  position:absolute;
  right:0;
  width: 33%;
  z-index: 999;
  background: gold;

     .notice{
	padding: 2.75rem;
	text-align: center;
	margin: 0;
	font-size: 2em;
	font-weight: 700;
	color: black;
	     }

}

.bubble{
	border-radius: 50%;
	height:13rem;
	width:13rem;
}

.bubble2{
	border-radius: 50%;
	height:22rem;
	width:22rem;
}

.site_profile_image img{
	height: 22rem;
  width: 22rem;  
  object-fit: contain;
}


.show_page_catergory{
	color:steelblue;
}

.show_name{
	margin: 5rem 0rem 3rem 5rem;	
}

.bottom_space{
	height: 7rem;
}

.footer{
	height: 11rem;
	font-size: 1.1em;
  border-top: 2px solid white;
}
.footer a{
	color:blue;
}

@media only screen and (max-width: 1000px) {
    body.homebody{
      background-image: url(image-path('colorful_towels_2000.jpg'));  
    }
  
}

 @media only screen and (max-width: 600px) {
    .bottom_space{
	    height: 3rem;
    }

    .footer{
      height: 3rem;
    }

    iframe{
      height: 400px;
      width: 400px;
    }
}

 @media only screen and (max-width: 400px) {
     body{
      background-image:none;
     
    }
     .site_profile_image{
      display:none;
    }

     iframe{
      height: 270px;
      width: 270px;
    }
}








