// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'partials/variables';
@import 'partials/mixins';

h1 {
    font-size: 8em;
    font-family: 'Poiret One', cursive;
    color: white;
    text-shadow: 3px solid black;
    filter:drop-shadow(8px 8px 10px white);
}

h3 {
    color: black;
}

body.homepage{
  background-image: url(image-path('colorful_towels_2000.jpg'));
}

.logo{
    width: 100%; 
    mix-blend-mode:difference;
    // hard-light, difference, hue
}

.sub_logo{
    background: white;
    // mix-blend-mode: hard-light; 
    // opacity: 0.8;
}

.find_by{
    border-bottom:double;
} 

.direct_to_showers{
    background: white;
    font-size: 1.4em;
}

.listing ul{
	perspective: 1000px;
}

.listing li{
    font-size: 2.5em;
    background: $nav-blue;
    outline:2px black solid;
    outline-offset:-6px;
}

.listing li:hover{
    transform: scale(1.1);
	transition: transform .15s ease-in-out;
    outline: 6px white double;
    outline-offset:-8px;
	z-index: 2;
}

.listing a{
	color: white;
    text-decoration: none;
}

.listing a:hover{
	color:$logo-blue;
}

.bx_select{
    border-color:gold;
}

.q_select{
    border-color:$queens-color;
}

.m_select{
	border-color:$manhattan-color;
}

.si_select{
	 border-color:blue;
}

.bk_select{
	 border-color:$bk-color;
}


@media only screen and (max-width: 1000px) {
    body.homepage{
      background-image: url(image-path('colorful_towels_1000.jpg'));
    }
    
}

 @media only screen and (max-width: 600px) {
    .jumbotron{
        height:22rem;
        background-image: none;
        background: none;
    }

    h1{
        font-size: 4em;
    }

    .listing li{
        background: $nav-blue
    }

    .listing li a{
        color:white;
    }
  
}

@media only screen and (max-width: 400px) {
    body.homepage{
      background-image: url(image-path('colorful_towels_500.jpg'));
    }
    
}
























