// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'partials/variables';
@import 'partials/mixins';

.jumbotron {
	background-image: url(image-path('orange_2.jpg'));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	background-attachment: fixed;
	height: 27rem;
	position:relative;
	overflow:hidden;
}

h1 {
  font-size: 7em;
  color:$logo-blue; 
  font-family: 'Poiret One', cursive;
}

.find_by{
	border-bottom:double;
}

.listing ul{
	perspective: 1000px;
}

.listing li{
	border-radius:17px;
	z-index: -1;
	width: 13rem;
	background: $nav-blue;
	color:black;
}

.listing li:hover{
	transform: rotateY(-20deg) rotateX(10deg)scale(1.3);
	transition: transform .1s ease-in-out;
	z-index: 2;
}

.listing a{
	color: black;
}

.listing a:hover{
	color:$towel-orange;
}


.borough{
     font-size: 1.3em;
}


.bx_select{
    border: 3px solid gold;
}

.q_select{
    border: 3px solid $queens-color;
}

.m_select{
	border: 3px solid $manhattan-color;
}

.si_select{
	 border: 3px solid blue;
}

.bk_select{
	 border: 3px solid $bk-color;
}


 @media only screen and (max-width: 600px) {
    .jumbotron{
        height:22rem;
        background-image: url(image-path('shower2.jpg'));
    }
    h1{
        font-size: 4em;
    }
  
}
























