// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.jumbotron {
	background-image: url(image-path('orange_2.jpg'));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	background-attachment: fixed;
	height: 27rem;
	position:relative;
	overflow:hidden;
}

h1 {
  font-size: 7em;
  color: white;
  text-shadow: 2px 2px blue;
}

a{
	color:green;
	text-shadow: 2px 2px white;
}

.mini_blurbs{
	font-size: 2em;
	color:blue;
}

.the_boroughs{
	position:relative;
	overflow:hidden;	
}
.borough{
    background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	background-attachment: fixed;
	font-size: 4em;
}

.borough img{
	height: 5rem;
	float:right;
	border-radius: 50%;
}


.bx_select{
	background-image: url(image-path('soap_bars.jpeg'));	
}

.q_select{
	background-image: url(image-path('white_1.jpg'));
	
}

.m_select{
	background-image: url(image-path('soap_bars.jpeg'));
}

.si_select{
	background-image: url(image-path('showerhead.jpg'));
}

.bk_select{
	background-image: url(image-path('soap_bars.jpeg'));
}


 @media only screen and (max-width: 600px) {
    .jumbotron{
        height:22rem;
    }
    h1{
        font-size: 4em;
    }
    .about{
        display:none;
    }

    .the_boroughs{
        font-size: .6em;
    }

}





















