// Place all the styles related to the queens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	background-image: url(image-path('shower2.jpg'));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center; 
	background-attachment: fixed;
}